@using ESchool.Common
@model ESchool.Web.ViewModels.Question.AddQuestionOSInputModel
@{
    this.ViewData["Title"] = "Добавяне на нов въпрос";
}

<div class="mt-5 p-3">
    <!-- Start header -->
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="float-left">
                <h1 class="font-color-dark-gray font-weight-light">@this.ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <!-- End header -->
    <!-- Start input -->
    <div class="mt-2 row justify-content-md-center shadow bg-white rounded">
        <div class="col-md-9">
            <h2 class="font-color-dark-gray font-weight-bold text-uppercase pt-3">Тест: @Model.Quiz.Name</h2>
            <hr />

            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <!-- Question's text -->
                <div class="form-group input-group">
                    <div>
                        <label class="font-color-dark-gray font-weight-bold" asp-for="@Model.Text">Въпрос</label>
                    </div>
                    <div class="input-group">
                        <textarea type="text" asp-for="@Model.Text" class="form-control" placeholder="Въведете въпроса тук"></textarea>
                    </div>
                    <span asp-validation-for="@Model.Text" class="text-danger"></span>
                </div>
                <!-- Question's scores-->
                <div class="form-group input-group">
                    <div>
                        <label class="font-color-dark-gray font-weight-bold" asp-for="@Model.Scores"></label>
                    </div>
                    <div class="input-group">
                        <input type="number" asp-for="@Model.Scores" class="form-control" placeholder="Въведете точките тук" />
                    </div>
                    <span asp-validation-for="@Model.Text" class="text-danger"></span>
                </div>
                <!-- Submit -->
                <div class="row mt-2 mb-2">
                    <div class="col-md-6">
                        <button type="submit" class="btn shadow p-2 rounded text-white background-fresh btn-block">Запамети въпрос</button>
                    </div>
                    <div class="col-md-6 ">
                        <a asp-controller="Quiz" asp-action="ById" asp-route-quizId="@Model.QuizId" class="btn shadow p-2 rounded text-white btn-danger btn-block">Отмяна</a>
                    </div>

                </div>
            </form>
        </div>
        <!-- End input -->
    </div>
</div>