@using ESchool.Common
@model ESchool.Web.ViewModels.Student.AllStudentsInSchoolViewModel
@{
    this.ViewData["Title"] = "Всички ученици";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<div class="mt-5">
    <!-- Start header -->
    <div class="row">
        <div class="col-md-12">
            <div>
                <h1 class="font-color-dark-gray font-weight-light">@this.ViewData["Title"]</h1>
            </div>

        </div>
    </div>
    <!-- End header -->
    <!-- Start table -->
    <div class="mt-2 p-2 shadow bg-white rounded">
        <div>
            @if (this.Model.ItemsCount == 1)
            {
                <h2 class="font-color-dark-gray font-weight-bold text-uppercase pt-3">Във вашето училище е регистриран @this.Model.ItemsCount ученик</h2>
                <hr />
            }
            else if (this.Model.ItemsCount > 1)
            {
                <h2 class="font-color-dark-gray font-weight-bold text-uppercase pt-3">Във вашето училище са регистрирани @this.Model.ItemsCount ученици</h2>
                <hr />
            }
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-striped table-hover sortable">
                @if (Model.ItemsCount == 0)
                {
                    <tr>
                        <td colspan="10">Няма намерени ученици.</td>
                    </tr>

                }
                else
                {
                    <thead>
                        <tr class="danger">
                            <th data-defaultsign="AZ">Име</th>
                            <th data-defaultsign="disabled">Имейл</th>
                            @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
                            {
                                <th data-defaultsort="disabled">Статут</th>
                                <th data-defaultsort="disabled">Действия</th>
                            }
                        </tr>
                    </thead>

                    foreach (var student in this.Model.Students)
                    {
                        <tr>
                            <td>
                                @student.FullName
                            </td>
                            <td>
                                @student.Email
                            </td>
                            @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
                            {
                                @if (!student.IsApproved)
                                {
                                    <td><span class="pl-3 pr-3 pb-1 text-nowrap text-white bg-danger rounded-pill">Неодобрен</span></td>
                                    <td>
                                        <form method="post" asp-controller="Student" asp-action="ApproveStudent" id="approveForm" asp-route-schoolId="@student.SchoolId" asp-route-id="@student.Id">
                                            <button class="btn text-white background-fresh" data-toggle="modal" data-target="#approveModal">Одобряване</button>
                                        </form>
                                    </td>
                                }
                                else
                                {
                                    <td><span class="pl-3 pr-3 pb-1 text-nowrap text-white background-fresh rounded-pill">Одобрен</span></td>
                                    <td>
                                        <a asp-controller="Student" asp-action="RejectStudent" asp-route-schoolId="@student.SchoolId" asp-route-id="@student.Id" class="btn btn-danger">Премахване на статут</a>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
            </table>
            <hr />

            <!-- Pagiination -->
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }"><a class="page-link" asp-controller="Student" asp-action="AllInSchool" asp-route-schoolId="@Model.SchoolId" asp-route-id="@Model.PreviousPageIndex">Предишна</a></li>
                    @for (int i = Model.PageIndex - 4; i < Model.PageIndex; i++)
                    {
                        if (i > 0)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="Student" asp-action="AllInSchool" asp-route-schoolId="@Model.SchoolId" asp-route-id="@i">@i</a></li>
                        }
                    }
                    <li class="page-item active" aria-current="page"><span class="page-link">@Model.PageIndex</span></li>
                    @for (int i = Model.PageIndex + 1; i <= Model.PageIndex + 4; i++)
                    {
                        if (i <= Model.PagesCount)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="Student" asp-action="AllInSchool" asp-route-schoolId="@Model.SchoolId" asp-route-id="@i">@i</a></li>
                        }
                    }
                    <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }"><a class="page-link" asp-controller="Student" asp-action="AllInSchool" asp-route-schoolId="@Model.SchoolId" asp-route-id="@Model.NextPageIndex">Следваща</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End table -->
</div>