@model ESchool.Web.ViewModels.Home.StudentIndexViewModel
@using ESchool.Common
@{
    this.ViewData["Title"] = "Табло за управление";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

@if (!Model.IsApproved)
{
    <div class="mt-5">
        <!-- Information for exception -->
        <div class="mt-2 shadow bg-white rounded">
            <div class="container">
                <h1 class="text-danger font-weight-bold">Достъп отказан!</h1>
                <h2 class="text-danger font-weight-bold">Не сте въвели коректен код за присъединяване към училище или все още не сте одобрени от Администраторът на Вашето училището.</h2>
            </div>
        </div>
    </div>
}
else
{
    <div class="mt-5">
        <!-- Start header -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-color-dark-gray font-weight-light">@this.ViewData["Title"]</h1>
            </div>
        </div>
        <!-- End header -->
        <!-- Start greetings and navigation tabs -->
        <div class="mt-2 p-3 shadow bg-white rounded">
            <div class="container">
                <h4 class="font-color-dark-gray font-weight-bold pt-3">Здравейте, <span>@Model.FullName</span>!</h4>
                <h4 class="font-color-dark-gray font-weight-bold">Вие сте ученик в <span class="text-uppercase">@Model.SchoolName</span></h4>
                <hr />
            </div>
            <div class="container">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Основни данни</li>
                </ol>
            </div>
            <div class="row m-2 ">
                <div class="col-md-3 card-min-width">
                    @if (Model.ClassInSchool != null)
                    {
                        <div class="card-info primary card-height">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                            <span class="count-numbers">@Model.ClassInSchool.Name</span>
                            <span class="count-name">Клас</span>
                        </div>
                    }
                    else
                    {
                        <div class="card-info primary card-height">
                            <h4 class="text-white">Няма добавен клас</h4>
                        </div>
                    }
                </div>
                <div class="col-md-3 card-min-width">
                    <a asp-controller="AssignmentReply" asp-action="AllOfStudent" asp-route-studentId="@Model.Id">
                        <div class="card-info info card-height">
                            <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                            <span class="count-numbers">Оценки</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container">
                <ol class="breadcrumb mb-4" style="margin-top: 20px;">
                    <li class="breadcrumb-item active">Предмети</li>
                </ol>
            </div>
            <div class="row m-2 justify-content-center">
                @foreach (var subject in Model.Subjects)
                {
                    <div class="card border-info m-2 col-md-3 d-flex justify-content-center card-min-width" style="height: 150px">
                        <a asp-controller="Subject" asp-action="ById" asp-route-subjectId="@subject.Id" class="card-link">
                            <h4 class="card-title text-info">@subject.Name</h4>
                            <h5 class="card-subtitle text-muted">@subject.Class.Name</h5>
                        </a>
                    </div>
                }
            </div>
        </div>
        <!-- End greetings and navigation tabs -->
    </div>
}


@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}