@using ESchool.Common
@using System.Security.Claims;
@model ESchool.Web.ViewModels.Quiz.QuizPageViewModel
@{
    this.ViewData["Title"] = Model.Name;
}
@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}


<div class="mt-5">
    <!-- Start header -->
    <div class="row">
        <div class="col-md-12">
            <div class="float-left">
                <h1 class="font-color-dark-gray font-weight-light">Тест</h1>
            </div>
        </div>
    </div>
    <!-- End header -->
    <!-- Start Quiz's info -->
    <div class="mt-2 shadow p-3 bg-white rounded">
        <!-- Quiz-card-Header -->
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="font-color-dark-gray font-weight-bold text-uppercase pt-3">@this.ViewData["Title"]</h2>
                        <span>Общ брой точки: @Model.TotalScores</span>
                    </div>
                    <div class="col-md-3">
                        <div class="float-right">
                            @if (!Model.IsActivated)
                            {
                                <a asp-controller="Quiz" asp-action="ActivateQuiz" asp-route-quizId="@Model.Id" class="btn shadow p-2 rounded text-white background-tangerine btn-block">Активиране</a>
                            }
                            else
                            {
                                <a asp-controller="SolvedQuiz" asp-action="AllSolvedQuizzes" asp-route-quizId="@Model.Id" class="btn shadow p-2 rounded text-white background-aluminium btn-block">Проверка</a>
                            }

                        </div>
                    </div>
                    
                </div>
                <hr />
            </div>
        </div>
        <!-- Quiz-card-Body -->
        <div class="row p-3 user-select-none">
            <div class="col-md-9">
                @foreach (var question in Model.Questions)
                {
                    <div class="row">
                        <div class="col-12 background-fresh">
                            <h5 class="text-white font-weight-bold text-uppercase pt-3">@question.Text<span class="font-weight-lighter">(@question.Scores)</span>
                            </h5>
                        </div>
                    </div>
                    @foreach (var answer in question.Answers)
                    {
                            @if (answer.IsRightAnswer)
                            {
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11 border border-success border-width-answer pt-2 pb-2">
                                        <span class="text-success align-middle">@answer.Text</span>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11 border border-secondary border-width-answer pt-2 pb-2">
                                        <span class="align-middle">@answer.Text</span>
                                    </div>
                                </div>
                            }
                        }
                    }
            </div>
        </div>
    </div>
    <!-- End Quiz's info -->
</div>