@model ESchool.Web.ViewModels.Quiz.CreateQuizInputModel
@{
    ViewData["Title"] = "Добавяне на нов тест";
}

<div class="mt-5 p-3">
    <!-- Start header -->
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="float-left">
                <h1 class="font-color-dark-gray font-weight-light">@this.ViewData["Title"]</h1>
            </div>
        </div>
    </div>
    <!-- End header -->
    <!-- Start input -->
    <div class="mt-2 row justify-content-md-center shadow bg-white rounded">
        <div class="col-md-9">
            <div>
                <form id="form" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <!-- Quiz's name -->
                    <div class="form-group input-group">
                        <div>
                            <label class="font-color-dark-gray font-weight-bold" asp-for="@Model.Name">Име:</label>
                        </div>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Name" class="form-control">
                        </div>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <!-- Quiz's description -->
                    <div class="form-group input-group">
                        <div>
                            <label class="font-color-dark-gray font-weight-bold" asp-for="@Model.Description">Инструкции:</label>
                        </div>
                        <div class="input-group">
                            <textarea class="form-control" id="mytextarea" asp-for="@Model.Description"></textarea>
                        </div>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    
                    <!-- Submit -->
                    <div class="row mx-4 mb-3 text-white">
                        <button type="submit" id="btn" class="btn text-white background-fresh btn-block col-md-5 mt-5">Напред</button>
                        <div class="col-1 mr-4"></div>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-danger col-md-5 mt-5">Отмяна</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End input -->
</div>



@section Scripts {
    <script src="https://cdn.tiny.cloud/1/5csufy9ta4cszywqv2nvl3ahc4u6n6rnpowf4a9kibn1xndp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#mytextarea',
            width: '100%',
            height: '400',
        });
    </script>
}
